<div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg5.jpg') ;">
        </div>
        <div class="container">
            <div class="content-center">
                <div class="photo-container">
                    <img [src]=" user.profilePicture" alt="">
                </div>
                <h3 class="title">Sanuka Wickramasinghe</h3>
                <p class="category">Singer</p>
                <div class="content">
                    <div class="social-description">
                        <h2>26</h2>
                        <p>Follows</p>
                    </div>
                    <div class="social-description">
                        <h2>26</h2>
                        <p>Followings</p>
                    </div>
                    <div class="social-description">
                        <h2>9.5</h2>
                        <p>Ratings</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container mt-5">
          <div class="button-container">
              <a href="#button" class="btn btn-primary btn-round btn-lg">Follow</a>
              <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on youtube">
                <i class="fab fa-youtube"></i>
              </a>
              <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on Instagram">
                <i class="fab fa-spotify"></i>
              </a>
          </div>
          <h3 class="title">About me</h3>
          <h5 class="description">Sri Lankan singer known for songs like "Saragaye", "Sansara sihine" and "Perawadanak". He is represented by Singha Records. </h5>
            <div class="container">
                <div class="row">
                    <div class="profile-nav col-4">
                <!--    Add review-->
                        <div class="row add-review">

                            <div class="col-12">
                                <div class="comment-box ml-2">
                                    <h4>Add Your Recommendation</h4>

                                    <div class="rating">
                                        <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                                        <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                                        <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                                        <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                                        <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                                    </div>
                                    <div class="comment-area">
                                        <textarea class="form-control" placeholder="what is your view?" rows="4"></textarea>
                                    </div>
                                    <div class="comment-btns mt-2">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="pull-right">
                                                    <button class="btn btn-success send btn-sm">Submit <i class="fa fa-long-arrow-right ml-1"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                <!-- Add review-->


                <!-- See Review    -->

                        <div>
                            <button class="see-review" (click)="toggleReviews()">See all reviews</button>
                            <div class="review" *ngIf="showReviews">
                                <div class="item" *ngFor="let review of reviews">
                                    <div class="card card-testimonial">
                                        <div class="card-avatar">
                                            <a href="#pablo">
                                                <img class="img rounded-circle" src="https://randomuser.me/api/portraits/women/33.jpg" alt="...">
                                            </a>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">{{review.reviewerName}}</h5>
                                            <p class="card-description">
                                                {{review.reviewText}}
                                            </p>
                                            <div class="rating">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
            <!-- Review   -->
                    </div>
                    <div class="profile-info col-8 border-left-2">
                        <div class="panel">
                            <div class="panel-body bio-graph-info">
<!--                                           post here-->
                                <div class="post" *ngFor="let post of posts ">
                                    <div class="post-header">
                                        <img [src]=" user.profilePicture" alt="Profile Picture" class="rounded-circle" style="height: 50px; width: 50px;">
                                        <div class="post-info ml-3">
                                            <h3>{{post.userName}}</h3>
                                            <p>2 hours ago</p>
                                        </div>
                                    </div>
                                    <div class="post-body">
                                        <p> {{post.about}} </p>
<!--                                        <div [style.backgroundImage]="'url('+ post.logoUrl +')'"></div>-->
                                        <img [src]=" post.logoUrl" alt="Post Image" class="w-100">
                                        <div class="post-actions mt-3">
                                            <button class="btn btn-primary btn-sm mr-2">Like</button>
                                        </div>
                                        <div class="comment" *ngFor="let comment of post.comments">
                                            <div class="comment-info ml-3">
                                                <h6>{{comment.commentedBy}}</h6>
                                                <p>{{comment.comment}}</p>
                                            </div>
                                        </div>
                                        <div class="comment-bar mt-3">
                                            <img src="https://via.placeholder.com/50" alt="Profile Picture" class="rounded-circle">
                                            <input type="text" class="form-control ml-3" placeholder="Write a comment...">
                                            <button class="btn btn-primary btn-sm ml-3">Post</button>
                                        </div>
                                    </div>
                                </div>
                                <!--   post here-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer footer-default">
        <div class="container">
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Designed and Coded by Loshitha hasaral

            </div>
        </div>
    </footer>
</div>
