<div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg5.jpg') ;">
        </div>
        <div class="container">
            <div class="content-center">
                <div class="photo-container">
                    <img [src]=" user.profilePicture" alt="">
                </div>
                <h3 class="title">Sanuka Wickramasinghe</h3>
                <p class="category">Singer</p>
                <div class="content">
                    <div class="social-description">
                        <h2>26</h2>
                        <p>Follows</p>
                    </div>
                    <div class="social-description">
                        <h2>26</h2>
                        <p>Followings</p>
                    </div>
                    <div class="social-description">
                        <h2>9.5</h2>
                        <p>Ratings</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
          <div class="button-container">
              <a href="#button" class="btn btn-primary btn-round btn-lg">Follow</a>
              <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on youtube">
                <i class="fab fa-youtube"></i>
              </a>
              <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on Instagram">
                <i class="fab fa-spotify"></i>
              </a>
          </div>
          <h3 class="title">About me</h3>
          <h5 class="description">Sri Lankan singer known for songs like "Saragaye", "Sansara sihine" and "Perawadanak". He is represented by Singha Records. </h5>
            <div class="container">
                <div class="row">
                    <div class="profile-nav col-4">
                <!-- Review    -->
                        <div class="container review align-left">
                            <div class="auto-invert line-b-4 text_align-center">
                                <h4 class="font-cond-b fg-text-d lts-md fs-300 fs-300-xs no-mg" contenteditable="false">Customer Reviews</h4>
                            </div>
                            <ul class="hash-list cols-3 cols-1-xs pad-30-all align-center text-sm">
                                <li *ngFor="let review of reviews">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="wpx-100 img-round mgb-20" title="" alt="" data-edit="false" data-editor="field" data-field="src[Image Path]; title[Image Title]; alt[Image Alternate Text]">
                                    <p class="fs-110 font-cond-l review-text" contenteditable="false">{{review.reviewText}}</p>
                                    <h5 class="font-cond mgb-5 fg-text-d fs-130" contenteditable="false"> </h5>
                                    <small class="font-cond case-u lts-sm fs-80 fg-text-l" contenteditable="false">{{review.reviewerName}}</small>
                                </li>
                            </ul>
                        </div>
            <!-- Review   -->
                    </div>
                    <div class="profile-info col-8 border-left-2">
                        <div class="panel">
                            <div class="panel-body bio-graph-info">
<!--                                           post here-->
                                <div class="post" *ngFor="let post of posts ">
                                    <div class="post-header">
                                        <img src="https://via.placeholder.com/50" alt="Profile Picture" class="rounded-circle">
                                        <div class="post-info ml-3">
                                            <h3>John Doe</h3>
                                            <p>2 hours ago</p>
                                        </div>
                                    </div>
                                    <div class="post-body">
                                        <p> {{post.about}} </p>
<!--                                        <div [style.backgroundImage]="'url('+ post.logoUrl +')'"></div>-->
                                        <img [src]=" post.logoUrl" alt="Post Image" class="w-100">
                                        <div class="post-actions mt-3">
                                            <button class="btn btn-primary btn-sm mr-2">Like</button>
                                            <button class="btn btn-primary btn-sm mr-2">Comment</button>
                                        </div>
                                        <div class="comment-bar mt-3">
                                            <img src="https://via.placeholder.com/50" alt="Profile Picture" class="rounded-circle">
                                            <input type="text" class="form-control ml-3" placeholder="Write a comment...">
                                            <button class="btn btn-primary btn-sm ml-3">Post</button>
                                        </div>
                                    </div>
                                </div>
                                <!--   post here-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer footer-default">
        <div class="container">
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Designed and Coded by Loshitha hasaral

            </div>
        </div>
    </footer>
</div>
