<div class="wrapper">
  <div class="page-header clear-filter" filter-color="orange">
    <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('assets/img/header.jpg');">

    </div>
      <div class="container">
          <div class="content-center brand">
              <img class="n-logo" src="assets/img/now-logo.png" alt="">
              <h1 class="h1-seo">Administration</h1>
          </div>
          <h6 class="category category-absolute">Designed and Coded by Loshitha hasaral</h6>
      </div>
  </div>

  <div class="main">
      <div class="section section-tabs">
          <div class="container">
              <!--                  Quick function-->
              <div class="row quick-function">
                  <div class="col-md-3">
                      <div class="card-counter primary">
                          <i class="fa fa-code-fork"></i>
                          <span class="count-numbers">12</span>
                          <span class="count-name">Users</span>
                      </div>
                  </div>

                  <div class="col-md-3">
                      <div class="card-counter danger">
                          <i class="fa fa-ticket"></i>
                          <span class="count-numbers">599</span>
                          <span class="count-name">Posts</span>
                      </div>
                  </div>

                  <div class="col-md-3">
                      <div class="card-counter success">
                          <i class="fa fa-database"></i>
                          <span class="count-numbers">6875</span>
                          <span class="count-name">Comments</span>
                      </div>
                  </div>

                  <div class="col-md-3">
                      <div class="card-counter info">
                          <i class="fa fa-users"></i>
                          <span class="count-numbers">35</span>
                          <span class="count-name">Likes</span>
                      </div>
                  </div>

              </div>
              <!--                  Quick function-->
          </div>
      </div>
    <div class="section section-images">

        <div class="container">
            <div class="row">
                <div class="col-md-12">

<!--                    users table -->

                    <div class="container user-table">
                        <h2>Active users</h2>
                        <ul class="responsive-table">
                            <li class="table-header">
                                <div class="col col-1"> User name</div>
                                <div class="col col-2"> Profession </div>
                                <div class="col col-3"> Contact number </div>
                                <div class="col col-4"> Account Status </div>
                            </li>
                            <li class="table-row">
                                <div class="col col-1" data-label="Job Id">42235</div>
                                <div class="col col-2" data-label="Customer Name">John Doe</div>
                                <div class="col col-3" data-label="Amount">$350</div>
                                <div class="col col-4" data-label="Payment Status">Pending</div>
                            </li>
                            <li class="table-row">
                                <div class="col col-1" data-label="Job Id">42442</div>
                                <div class="col col-2" data-label="Customer Name">Jennifer Smith</div>
                                <div class="col col-3" data-label="Amount">$220</div>
                                <div class="col col-4" data-label="Payment Status">Pending</div>
                            </li>
                            <li class="table-row">
                                <div class="col col-1" data-label="Job Id">42257</div>
                                <div class="col col-2" data-label="Customer Name">John Smith</div>
                                <div class="col col-3" data-label="Amount">$341</div>
                                <div class="col col-4" data-label="Payment Status">Pending</div>
                            </li>
                            <li class="table-row">
                                <div class="col col-1" data-label="Job Id">42311</div>
                                <div class="col col-2" data-label="Customer Name">John Carpenter</div>
                                <div class="col col-3" data-label="Amount">$115</div>
                                <div class="col col-4" data-label="Payment Status">Pending</div>
                            </li>
                        </ul>
                    </div>

<!--                    users table -->
                </div>
            </div>
        </div>
    </div>
<!--      <app-basicelements></app-basicelements>-->
<!--      <app-navigation></app-navigation>-->

      <div class="section section-pagination">
          <div class="container">
              <div class="row">
<!--                  blank-->
              </div>
          </div>
      </div>
      <div class="section" id="notifications">
<!--          <app-notification></app-notification>-->
      </div>
<!--      <app-typography></app-typography>-->
      <div class="section section-javascript" id="javascriptComponents">

      </div>
      <div class="section section-nucleo-icons">
          <div class="container">
              <div class="row">
                  <div class="col-lg-6 col-md-12">
                      <h2 class="title">Nucleo Icons</h2>
                      <h5 class="description">
                          Now UI Kit PRO comes with 100 custom icons made by our friends from NucleoApp. The official package contains over 2.100 thin icons which are looking great in combination with Now UI Kit PRO Make sure you check all of them and use those that you like the most.
                      </h5>
                      <a [routerLink]="['/manage-users']" class="btn btn-primary btn-round btn-lg">Manage Users</a>
                      <a href="https://nucleoapp.com/?ref=1712" class="btn btn-primary btn-simple btn-round btn-lg" target="_blank">View All Icons</a>
                  </div>
                  <div class="col-lg-6 col-md-12">
                      <div class="icons-container">
                          <i class="now-ui-icons ui-1_send"></i>
                          <i class="now-ui-icons ui-2_like"></i>
                          <i class="now-ui-icons transportation_air-baloon"></i>
                          <i class="now-ui-icons text_bold"></i>
                          <i class="now-ui-icons tech_headphones"></i>
                          <i class="now-ui-icons emoticons_satisfied"></i>
                          <i class="now-ui-icons shopping_cart-simple"></i>
                          <i class="now-ui-icons objects_spaceship"></i>
                          <i class="now-ui-icons media-2_note-03"></i>
                          <i class="now-ui-icons ui-2_favourite-28"></i>
                          <i class="now-ui-icons design_palette"></i>
                          <i class="now-ui-icons clothes_tie-bow"></i>
                          <i class="now-ui-icons location_pin"></i>
                          <i class="now-ui-icons objects_key-25"></i>
                          <i class="now-ui-icons travel_istanbul"></i>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="section">
          <div class="container text-center">
              <div class="row justify-content-md-center">
                  <div class="col-md-12 col-lg-8">
                      <h2 class="title">Completed with examples</h2>
                      <h5 class="description">The kit comes with three pre-built pages to help you get started faster. You can change the text and images and you're good to go. More importantly, looking at them will give you a picture of what you can built with this powerful Bootstrap 4 ui kit.</h5>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <footer class="footer" data-background-color="black">
      <div class="container">
          <nav>
              <ul>
<!--                  <li>-->
<!--                      <a href="https://www.creative-tim.com">-->
<!--                          Creative Tim-->
<!--                      </a>-->
<!--                  </li>-->
                  <li>
                      <a>
                          About Us
                      </a>
                  </li>
                  <li>
                      <a>
                          Blog
                      </a>
                  </li>
                  <li>
                      <a>
                          MIT License
                      </a>
                  </li>
              </ul>
          </nav>
          <div class="copyright">&copy;
            {{data | date: 'yyyy'}}, Designed and Coded by Loshitha hasaral
          </div>
      </div>
  </footer>
</div>
