<div class="wrapper">
  <div class="page-header clear-filter" filter-color="orange">
    <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('assets/img/header.jpg');">

    </div>
      <div class="container">
          <div class="content-center brand">
              <img class="n-logo" src="assets/img/now-logo.png" alt="">
              <h1 class="h1-seo">Administration</h1>
          </div>
          <h6 class="category category-absolute">Designed and Coded by Loshitha hasaral</h6>
      </div>
  </div>

  <div class="main">
      <div class="section section-tabs">
          <div class="container">
              <!--                  Quick function-->
              <div class="row quick-function">
                  <div class="col-md-3">
                      <div class="card-counter primary">
                          <i class="fa fa-code-fork"></i>
                          <span class="count-numbers">12</span>
                          <span class="count-name">Users</span>
                      </div>
                  </div>

                  <div class="col-md-3">
                      <div class="card-counter danger">
                          <i class="fa fa-ticket"></i>
                          <span class="count-numbers">599</span>
                          <span class="count-name">Posts</span>
                      </div>
                  </div>

                  <div class="col-md-3">
                      <div class="card-counter success">
                          <i class="fa fa-database"></i>
                          <span class="count-numbers">6875</span>
                          <span class="count-name">Comments</span>
                      </div>
                  </div>

                  <div class="col-md-3">
                      <div class="card-counter info">
                          <i class="fa fa-users"></i>
                          <span class="count-numbers">35</span>
                          <span class="count-name">Likes</span>
                      </div>
                  </div>

              </div>
              <!--                  Quick function-->
          </div>
      </div>
    <div class="section section-images">

        <div class="container">
            <div class="row">
                <div class="col-md-12">

<!--                    users table -->

                    <section class="to-do">
                        <div class="container">
                            <div class="row d-flex justify-content-center align-items-center h-100">
                                <div class="col">
                                    <div class="card" id="list1" style="border-radius: .75rem; background-color: #eff1f2;">
                                        <div class="card-body py-4 px-4 px-md-5">

                                            <p class="h4 text-center mt-3 mb-4 pb-3 text-primary">
                                                <i class="fas fa-check-square me-1"></i>
                                                <u>Admin Todo-s</u>
                                            </p>

                                            <div class="pb-2">
                                                <div class="card">
                                                    <div class="card-body" style="min-height: 100px">
                                                        <div class="d-flex flex-row align-items-center ">
                                                            <input type="text" class="form-control form-control-lg" id="exampleFormControlInput1"
                                                                   placeholder="Add new..." [(ngModel)]="adminNote">
<!--                                                            <a      data-mdb-toggle="tooltip" title="Set due date"><i-->
<!--                                                                    class="fas fa-calendar-alt fa-lg me-3"></i></a>-->
                                                            <div>
                                                                <button type="button" class="btn btn-primary" (click)="addNote()">Add</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <hr class="my-4">

                                            <div class="d-flex justify-content-end align-items-center mb-4 pt-2 pb-3">
                                                <p class="small mb-0 me-2 text-muted">Filter</p>
                                                <select class="select">
                                                    <option value="1">All</option>
                                                    <option value="2">Completed</option>
                                                    <option value="3">Active</option>
                                                    <option value="4">Has due date</option>
                                                </select>
                                                <p class="small mb-0 ms-4 me-2 text-muted">Sort</p>
                                                <select class="select">
                                                    <option value="1">Added date</option>
                                                    <option value="2">Due date</option>
                                                </select>
                                                <a href="#!" style="color: #23af89;" data-mdb-toggle="tooltip" title="Ascending"><i
                                                        class="fas fa-sort-amount-down-alt ms-2"></i></a>
                                            </div>

                                            <ul class="list-group list-group-horizontal rounded-0 bg-transparent" *ngFor="let note of notes">
                                                <li
                                                        class="list-group-item px-3 py-1 d-flex align-items-center flex-grow-1 border-0 bg-transparent">
                                                    <p class="lead fw-normal mb-0">{{note.note}}</p>
                                                </li>
                                                <li class="list-group-item ps-3 pe-0 py-1 rounded-0 border-0 bg-transparent">
                                                    <div class="d-flex flex-row justify-content-end mb-1" (click)="deleteNote(note.id)">
                                                        <a class="text-danger" data-mdb-toggle="tooltip" title="Delete todo" ><i
                                                                class="fas fa-trash-alt"></i></a>
                                                    </div>
                                                    <div class="text-end text-muted">
                                                        <a href="#!" class="text-muted" data-mdb-toggle="tooltip" title="Created date">
                                                            <p class="small mb-0"><i class="fas fa-info-circle me-2"></i>{{note.date}}</p>
                                                        </a>
                                                    </div>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

<!--                    users table -->
                </div>
            </div>
        </div>
    </div>
<!--      <app-basicelements></app-basicelements>-->
<!--      <app-navigation></app-navigation>-->

      <div class="section section-pagination">
          <div class="container">
              <div class="row">
<!--                  blank-->
              </div>
          </div>
      </div>
      <div class="section section-nucleo-icons">
          <div class="container">
              <div class="row">
                  <div class="col-lg-6 col-md-12">
                      <h2 class="title">Music Hub</h2>
                      <h5 class="description">
                          Music Hub is a software platform for music enthusiasts and artists, providing them with a comprehensive set of tools to create, showcase and discover music. Music Hub is designed to connect music lovers with artists and help them discover new music and collaborate with other artists. It provides artists with a platform to share their music, build their fan base, and monetize their work. Music Hub also provides a range of features for managing and promoting events, merchandise, and artist tours. The platform is built using modern technology and is designed to be easy to use and accessible for both music lovers and artists.
                      </h5>
                      <a [routerLink]="['/manage-users']" class="btn btn-primary btn-round btn-lg">Manage Users</a>
                      <a href="https://nucleoapp.com/?ref=1712" class="btn btn-primary btn-simple btn-round btn-lg" target="_blank">View All Post</a>
                  </div>
                  <div class="col-lg-6 col-md-12">
                      <div class="icons-container">
                          <i class="now-ui-icons ui-1_send"></i>
                          <i class="now-ui-icons ui-2_like"></i>
                          <i class="now-ui-icons transportation_air-baloon"></i>
                          <i class="now-ui-icons text_bold"></i>
                          <i class="now-ui-icons tech_headphones"></i>
                          <i class="now-ui-icons emoticons_satisfied"></i>
                          <i class="now-ui-icons shopping_cart-simple"></i>
                          <i class="now-ui-icons objects_spaceship"></i>
                          <i class="now-ui-icons media-2_note-03"></i>
                          <i class="now-ui-icons ui-2_favourite-28"></i>
                          <i class="now-ui-icons design_palette"></i>
                          <i class="now-ui-icons clothes_tie-bow"></i>
                          <i class="now-ui-icons location_pin"></i>
                          <i class="now-ui-icons objects_key-25"></i>
                          <i class="now-ui-icons travel_istanbul"></i>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="section">
          <div class="container text-center">
              <div class="row justify-content-md-center">
                  <div class="col-md-12 col-lg-8">
                  </div>
              </div>
          </div>
      </div>
  </div>
  <footer class="footer" data-background-color="black">
      <div class="container">
          <nav>
              <ul>
<!--                  <li>-->
<!--                      <a href="https://www.creative-tim.com">-->
<!--                          Creative Tim-->
<!--                      </a>-->
<!--                  </li>-->
                  <li>
                      <a>
                          About Us
                      </a>
                  </li>
                  <li>
                      <a>
                          Blog
                      </a>
                  </li>
                  <li>
                      <a>
                          MIT License
                      </a>
                  </li>
              </ul>
          </nav>
          <div class="copyright">&copy;
            {{data | date: 'yyyy'}}, Designed and Coded by Loshitha hasaral
          </div>
      </div>
  </footer>
</div>
