<div class="main ">
    <div class="section section-images">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <!--                    users table -->

                    <div class="container user-table">
                        <h2>Active users</h2>
                        <ul class="responsive-table">
                            <li class="table-header">
                                <div class="col col-1"> Artist Name</div>
                                <div class="col col-2"> Phone number </div>
                                <div class="col col-3"> Email </div>
                                <div class="col col-4"> Profession </div>
                                <div class="col col-4"> Category Name </div>
                            </li>
                            <li class="table-row" *ngFor="let user of users">
                                <div class="col col-1" data-label="Job Id">{{user.artistName}}</div>
                                <div class="col col-2" data-label="Customer Name">{{user.phoneNumber}}</div>
                                <div class="col col-3" data-label="Amount">{{user.email}}</div>
                                <div class="col col-4" data-label="Payment Status">{{user.profession}}</div>
                                <div class="col col-4" data-label="Payment Status">{{user.categoryName}}</div>
                            </li>
                        </ul>
                    </div>

                    <!--                    users table -->
                </div>
            </div>
        </div>
    </div>
</div>
