<div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg5.jpg') ;">
        </div>
        <div class="container">
            <div class="content-center">
                <div class="photo-container">
                    <img [src]=" user.profilePicture" alt="">
                </div>
                <h3 class="title">{{user.artistName}}</h3>
                <p class="category">{{user.profession}}</p>
                <div class="content">
                    <div class="social-description">
                        <h2>26</h2>
                        <p>Follows</p>
                    </div>
                    <div class="social-description">
                        <h2>26</h2>
                        <p>Followings</p>
                    </div>
                    <div class="social-description">
                        <h2>{{viewRating}}</h2>
                        <p>Ratings</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container mt-5">
          <div class="button-container">
              <a href="#button" class="btn btn-primary btn-round btn-lg">Follow</a>
              <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on youtube">
                <i class="fab fa-youtube"></i>
              </a>
              <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on Instagram">
                <i class="fab fa-spotify"></i>
              </a>
          </div>
          <h3 class="title">About me</h3>
          <h5 class="description">{{user.about}} </h5>
            <div class="container">
                <div class="row">
                    <div class="profile-nav col-4">
                <!--    Add review-->
                        <div class="row add-review" *ngIf="authService.isLoggedIn()">

                            <div class="col-12">
                                <div class="comment-box ml-2" >
                                    <h4>Add Your Recommendation</h4>

                                    <div class="rating">
                                        <input type="radio" name="rating" value="5" id="5"  [(ngModel)]="rating"><label for="5">☆</label>
                                        <input type="radio" name="rating" value="4" id="4"  [(ngModel)]="rating"><label for="4">☆</label>
                                        <input type="radio" name="rating" value="3" id="3"  [(ngModel)]="rating"><label for="3">☆</label>
                                        <input type="radio" name="rating" value="2" id="2"  [(ngModel)]="rating"><label for="2">☆</label>
                                        <input type="radio" name="rating" value="1" id="1"  [(ngModel)]="rating"><label for="1">☆</label>
                                    </div>
                                    <div class="comment-area">
                                        <textarea class="form-control" placeholder="what is your view?" rows="4" [(ngModel)]="reviewText"></textarea>
                                    </div>
                                    <div class="comment-btns mt-2">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="pull-right">
                                                    <button class="btn btn-success send btn-sm" (click)="submitReview()">Submit <i class="fa fa-long-arrow-right ml-1"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                <!-- Add review-->


                <!-- See Review    -->

                        <div>
                            <button class="see-review" (click)="toggleReviews()">See all reviews</button>
                            <div class="review" *ngIf="showReviews">
                                <div class="item" *ngFor="let review of reviews">
                                    <div class="card card-testimonial" style="border: 1px solid #e95e38">
                                        <div class="card-avatar">
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">{{review.reviewerName}}</h5>
                                            <p class="card-description">
                                                {{review.reviewText}}
                                            </p>
                                            <div class="rating">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
            <!-- Review   -->
                    </div>
                    <div class="profile-info col-8 border-left-2">
                        <div class="panel">
                            <div class="panel-body bio-graph-info">
<!--                                           post here-->
                                <div class="post" *ngFor="let post of posts ">
                                    <div class="post-header">
                                        <img [src]=" user.profilePicture" alt="Profile Picture" class="rounded-circle" style="height: 50px; width: 50px;">
                                        <div class="post-info ml-3">
                                            <h3>{{post.userName}}</h3>
                                            <p>{{post.postDate}}</p>
                                        </div>
                                    </div>
                                    <div class="post-body">
                                        <p> {{post.about}} </p>
<!--                                        <div [style.backgroundImage]="'url('+ post.logoUrl +')'"></div>-->
                                        <img [src]=" post.logoUrl" alt="Post Image" class="w-100">
                                        <div class="post-actions mt-3">
                                            <button class="btn btn-primary btn-sm mr-2">Like</button>
                                        </div>
                                        <div class="comment" *ngFor="let comment of post.comments">
                                            <div class="comment-info ml-3">
                                                <h6>{{comment.commentedBy}}</h6>
                                                <p>{{comment.comment}}</p>
                                            </div>
                                        </div>
                                        <div class="comment-bar mt-3">
                                            <img src="https://via.placeholder.com/50" alt="Profile Picture" class="rounded-circle">
                                            <input #comment id="txt-comments" type="text" placeholder="Write a comment...">
                                            <button class="btn btn-primary btn-sm ml-3" type="submit" (click)="Comment(post.id,comment.value); comment.value=''">Post</button>
                                        </div>
                                    </div>
                                </div>
                                <!--   post here-->
                                <!-- mp3 as post-->

                                <div class="post" *ngFor="let audio of audios">
                                    <div class="post-header">
                                        <img [src]=" user.profilePicture" alt="Profile Picture" class="rounded-circle" style="height: 50px; width: 50px;">
                                        <div class="post-info ml-3">
                                            <h3>{{user.username}}</h3>
                                            <p>{{audio.postDate}}</p>
                                        </div>
                                    </div>
                                    <div class="post-body">
                                        <p> {{audio.about}} </p>
                                        <div class="post-actions mt-3 player ">
                                            <audio controls >
                                                <source [src]="audio.path" type="audio/mpeg">
                                            </audio>
                                            <!--                                            <ngx-audio-player src autoPlay="false">-->

                                            <!--                                            </ngx-audio-player>-->
                                        </div>
                                        <div class="comment" *ngFor="let comment of audio.comments">
                                            <div class="comment-info ml-3 ">
                                                <h6>{{comment.commentedBy}}</h6>
                                                <p>{{comment.comment}}</p>
                                            </div>
                                        </div>
                                        <div class="comment-bar mt-3">
                                            <img src="https://via.placeholder.com/50" alt="Profile Picture" class="rounded-circle">
<!--                                            <input type="text" class="form-control ml-3" placeholder="Write a comment..." [(ngModel)]="newComment">-->
                                            <input #comment id="txt-comment" type="text" placeholder="Write a comment..." >
                                            <button class="btn btn-primary btn-sm ml-3" type="submit" (click)="Comment(audio.id,comment.value); comment.value=''">Post</button>
                                        </div>
                                    </div>
                                </div>

                                <!-- mp3 as post-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer footer-default">
        <div class="container">
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Designed and Coded by Loshitha hasaral

            </div>
        </div>
    </footer>
</div>
